<p style="color: green">
	<%= notice %>
</p>

<%= render @user %>

<div>
	<%= link_to "Editeaza", edit_user_path(@user) %> |
	<%= link_to "Inapoi la users", users_path %>

	<%= button_to "Sterge user", @user, method: :delete %>
</div>
