<%= form_with(model: rezervare) do |form| %>
  <% if rezervare.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rezervare.errors.count, "error") %> prohibited this rezervare from being saved:</h2>
      <ul>
        <% rezervare.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Rezervare noua</h4>
</div>
<div class="modal-body">
<%= form.hidden_field :tours_id %>
<%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.label :nume, style: "display: block" %>
    <%= form.text_area :nume %>
  </div>

  <div>
    <%= form.label :prenume, style: "display: block" %>
    <%= form.text_area :prenume %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :telefon, style: "display: block" %>
    <%= form.text_area :telefon %>
  </div>
</div>
<div class="modal-footer">
<%= form.submit %>
</div>
 

<% end %>

