<div id="<%= dom_id rezervare %>">
  <p>
    <strong>Nume:</strong>
    <%= rezervare.nume %>
  </p>

  <p>
    <strong>Prenume:</strong>
    <%= rezervare.prenume %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rezervare.email %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= rezervare.telefon %>
  </p>

</div>
