<div id="<%= dom_id rezervare %>">
  <p>
  <strong>Tours:</strong>
  <% tour = Tours.find_by(id: Rezervare.tours_id) %>
  <% if tour.present? %>
    <% tour.update_attribute(:tours_id, tour.id) %>
    <%= link_to eveniment.titlu, eveniment %>
  <% end %>
    <strong>Nume:</strong>
    <%= rezervare.nume %>
  </p>

  <p>
    <strong>Prenume:</strong>
    <%= rezervare.prenume %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= rezervare.email %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= rezervare.telefon %>
  </p>

</div>
