<p style="color: green"><%= notice %></p>

<%= render @rezervare %>

<div>
  <% if @rezervare && @rezervare.persisted? %>
    <%= link_to "Edit this rezervare", edit_rezervare_path(@rezervare) %> |
  <% end %>
  <%= link_to "Back to rezervares", rezervares_path %>
  <%= button_to "Destroy this rezervare", @rezervare, method: :delete %>
</div>