<p style="color: green"><%= notice %></p>
<h1>Tur ghidat</h1>

<%= render @tour %>

<div>
<% if current_user.admin? %>
  <%= link_to "Editare", edit_tour_path(@tour) %> |
  

  <%= button_to "Sterge", @tour, method: :delete %>
  <%end%>
  <%= link_to "Inapoi la tururi", tours_path %>
</div>
