<div id="<%= dom_id eveniment %>">
  <p>
    <strong>Titlu:</strong>
    <%= eveniment.titlu %>
  </p>

  <p>
    <strong>Descriere:</strong>
    <%= eveniment.descriere %>
  </p>

  <p>
    <strong>Timp start:</strong>
    <%= eveniment.start_time%>
  </p>

  <p>
    <strong>Timp final:</strong>
    <%= eveniment.end_time %>
  </p>

</div>
